@import "tailwindcss";
@plugin "daisyui" {
  themes: autumn --default, dark --prefersdark, dracula;
}


/* Your custom CSS below */
html, body, #root {
  height: 100%;
}

html {
  scrollbar-gutter: stable both-edges;
}